* {
 margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;

}
/* box-1 */
.nav-bar { 
    background-color: #131921;
    height: 60px;
    display: flex;
    color: white;
    align-items: center;  
    justify-content: space-evenly;  
}

/* box-2 */

.box-2 {
height: 50px;
align-items: center;
display: flex;
}

.location {
   display: flex; 
   
}

.location p {
padding-left: 4px;
font-size: 80%;

}

.user{
    color: #CCCCCC;
    padding-left: 17px;
    font-size: 70%;
}

.border {
border: 2px solid transparent;
}

.border:hover {
border: 2px solid white;
}

/* box-3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 650px;
    height: 40px;
    border: none;
}

.select {
background-color: #f3f3f3;
width: 55px;
text-align: center;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px ;
border: none;
}

.searchbar {
background-color: white;
width: 570px;
font-size: 16px;
padding-left: 10px;
border: none;
}

.search-icon {
background-color: #91f6fe;
width: 45px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
color: black;
font-size: 20px;
border: none;
}

.search-icon:hover {
background-color: #1a98ff;
}

.nav-search:hover {
border: 2px solid orange;
}

/* box-4 */
.box-4 {
height: 50px;
display: flex;
align-items: center;
}

.box-4-hello {
font-size: 12px;
}
.box-4-account {
font-weight: 700;
}

/* Box-5 */
.box-5 {
    height: 50px;
    display: flex;
    align-items: center;
    }

/* box-6 */
.box-6 {
height: 50px;
align-items: center;
display: flex;
}

.box-6-items {
display:contents;
}

.box-6-items p {
font-weight: 700;
}

.box-6-items span i {
font-size: 30px;
}

/* box-7 */

.box-7 {
height: 50px;
display: flex;
align-items: center;    
}

.box-7-items {
display: flex;
}

.box-7 p {
padding-left: 4px;
padding-right: 4px;
}


/* below header  */

.belowheader {
height: 39px;
background-color: #232f3e;
display: flex;
}

.belowheader-items {
display: flex;
color: white;
font-size: 15px;
align-items: center;
width: 650px ;
justify-content: space-evenly;


}

.primedaydeal {
color: #91f6fe;
font-weight: 600;
}

.menu {
display: flex;
align-items: center;
padding-left: 20px;
font-size: 110%;
width: 50px;

}
.menuall {
padding-left: 5px;
font-size: 85%;
}

.prime-day-logo {
width: 700px;
display: flex;
justify-content: center;
}



a {
text-decoration: none;
color: white;
}






/* footer  */

.back-to-top {
background-color: #485769;
color: white;
height: 50px;
align-items: center;
display: flex;
justify-content: center;
}

.contact-us {
background-color: #232f3e;
height: 400px;
color: white;
display: flex;
justify-content: center;
align-items: center;
}

.copyright {
background-color: #131a22;
height: 150px;
color: white;
display: flex;
align-items: center;
justify-content: center;
}

/* ##### Product  */
/* main  */
.main {
    height: auto;
    display: flex;
    justify-content: center;
    }

.product-outer-frame {
width: 95%;
height: auto;
display: flex;
flex-wrap: wrap;
margin-right: 2%;
}

.product-frame {
border: 1px solid gray;
margin-top: 1%;
margin-bottom: 1%;
background-color: #232f3e;
}

.price-section {
color: white;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 5%;
margin-bottom: 5%;
margin-left: 5%;
margin-right: 5%;
}